{% extends 'base.html.twig' %}

{% block title %}Connexion - GreenGoodies{% endblock %}

{% block body %}
<div class="login-wrapper">

  <div class="login-image">
    <img src="{{ asset('images/flower_img.jpg') }}" alt="Illustration fleur">
  </div>

  <div class="login-panel">
    <div class="login-box">

      <h1 class="login-title">Connexion</h1>

      {% if error %}
        <div class="login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="login-field">
          <label for="inputEmail">Adresse email</label>
          <input type="email"
                 value="{{ last_username }}"
                 name="email"
                 id="inputEmail"
                 autocomplete="email"
                 required
                 autofocus>
        </div>

        <div class="login-field">
          <label for="inputPassword">Mot de passe</label>
          <input type="password"
                 name="password"
                 id="inputPassword"
                 autocomplete="current-password"
                 required>
        </div>

        <button class="login-btn" type="submit">Se connecter</button>
      </form>

      <br>

      <p class="login-register">
        <a href="{{ path('app_register') }}">Pas encore de compte ? S'inscrire</a>
      </p>

    </div>
  </div>

</div>
{% endblock %}
