{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/home.css"/>
{% endblock %}

{% block title %}GreenGoodies - Accueil{% endblock %}

{% block body %}

    <section class="hero_container">
        <div class="hero_text">
            <div class="text_wrapper">
                <h1>Bienvenue</h1>
                <p>
                    Découvrez notre univers de produits durables et éthiques pour une consommation 
                    responsable
                    <br>
                    <br>
                    Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt 
                    à porter
                </p>
            </div>
        </div>
        <div class="hero_img">
            <img src="images/hero_img.jpg" alt="Image d'illustration">
        </div>
    </section>

    <section class="products_container" id="products">
    <h2>Nos produits</h2>
    <div class="products_grid">
        {% for product in products %}
            <div class="product_card">
                <img src="{{ asset(product.image) }}" alt="{{ product.name }}">

                <div class="card_text">
                    <h3>{{ product.name }}</h3>
                    <p class="desc">{{ product.description }}</p>
                    <p class="price">{{ product.price }} €</p>
                </div>

                    <a href="#" class="card_btn">Voir le produit</a>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}