{% extends 'base.html.twig' %}

{% block title %}Inscription - GreenGoodies{% endblock %}

{% block body %}
<div class="register-wrapper">

  <div class="register-image">
    <img src="{{ asset('images/plant_register.jpg') }}" alt="Illustration plante" loading="lazy">
  </div>

  <section class="register-panel">
    <div class="register-box">

      <h1 class="register-title">Inscription</h1>
      <p class="register-subtitle">Tous les champs sont obligatoires</p>

      {{ form_start(registrationForm) }}

        <div class="register-field">
          {{ form_label(registrationForm.lastName) }}
          {{ form_widget(registrationForm.lastName) }}
          {{ form_errors(registrationForm.lastName) }}
        </div>

        <div class="register-field">
          {{ form_label(registrationForm.firstName) }}
          {{ form_widget(registrationForm.firstName) }}
          {{ form_errors(registrationForm.firstName) }}
        </div>

        <div class="register-field">
          {{ form_label(registrationForm.email) }}
          {{ form_widget(registrationForm.email) }}
          {{ form_errors(registrationForm.email) }}
        </div>

        <div class="register-field">
            {{ form_row(registrationForm.plainPassword) }}
        </div>

        <div class="register-terms">
          {{ form_widget(registrationForm.acceptedTerms) }}
          {{ form_label(registrationForm.acceptedTerms) }}
          {{ form_errors(registrationForm.acceptedTerms) }}
        </div>

        <button class="register-btn" type="submit">S'inscrire</button>

      {{ form_end(registrationForm) }}

      <p class="register-link">
        <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
      </p>

    </div>
  </div>

</div>
{% endblock %}