{# {% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
<h1>Nos produits</h1>

<div class="products_grid">
    {% for product in products %}
    <div class="product_card">
        <img src="{{ asset(product.image) }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p class="price">{{ product.price }} €</p>
        <p class="shortDesc">{{ product.description }}</p>
        <a href="{{ path('app_product', {'id': product.id}) }}" class="btn">Voir le produit</a>
    </div>
    {% endfor %}
</div>
{% endblock %} #}